.menu{
  background: #0069D5;
  margin: 8px 0 !important;
  padding: 0 !important;
}

.menu_list{
  display: flex;
  max-width: 800px;
  list-style-type: none;
  color: #FFF;
  font-size: 14px;
  padding: 4px 0;
  margin: 0 auto;
}

.menu_list > li {
  border-right: 1px solid rgba(255,255,255,0.3);
  cursor: pointer;
}

.menu_list > li > p {
  margin: 1px 16px !important;
  font-family: "メイリオ", sans-serif;
}
